// Boton consultas
.boton{
    text-align: center;
    input{
        margin: 4px;
        padding: 0px 144px 0px 144px;
        border-radius: $bordes-redondeados;
        background-color: rgba(49, 18, 136, 0.685);
        color: rgba(255, 255, 255, 0.486);
        font-size: 17px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        border-color: $primarios;
    }
    input:hover{
        color: $primarios;
        transition: all 0.8s;
    }
}