// Hero pagina principal
#hero {
    color: $primarios;
    font-size: 10px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 45vh;
    background-image: url("../imagenes/foto-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}