@media (min-width: 720px) {
    header {
        position: fixed;
        width: 100%;

        .container {
            flex-direction: row;
            justify-content: space-between;
        }

        nav {
            flex-direction: row;
            padding-bottom: 0;
        }

    }

    .indexul {
        display: flex;
    }

    #sobre-nosotros {
        .container {
            display: flex;
        }

        .img-container {
            background-image: url("../imagenes/fotolugar.jpg");
            background-size: cover;
            background-position: center center;
            height: 500px;
            width: 500px;
            margin-right: 100px;
        }

        .texto {
            width: 50%;
            align-items: center;
            padding-top: 100px;
        }
    }

    .texto {
        font-size: 25px;
    }

    #mas-comidas {
        .comidass {
            display: flex;
            justify-content: center;
        }
    }

    #hero {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 800px;
        font-size: 25px;

    }

    footer {
        p {
            margin: 0;
        }
    }

    .mapa {
        margin: -16px 10px 10px 10px;
        margin-bottom: 4px;
    }

    .boton {
        margin: 20px;
    }

    .container_padre{
        display: grid;
        grid-template-areas: "card card card";
        grid-template-columns: 32vw 32vw 32vw;
        grid-template-rows: 36vw 36vw;
    }
    .container2 {
        grid-area: card;
        width: 100%;
    }

    .card {
        width: 100%;
        border-radius: 6px;
        overflow: hidden;
        margin-left: 80px;
    }
}