#sobre-nosotros {
    .container {
        text-align: center;
        padding: 150px 12px;
    }

    h2 {
        font-size: 1vw;
        background-color: $background-color;
        margin: 0;
        padding: 10px;
        color: $primarios;
        font-weight: 100;
    }
}