#sobre-nosotros{
    .container{
        text-align: center;
        padding: 200px 12px;
    }
    h2{
        font-size: 1vw;
        background-color: #474d53;
        margin: 0;
        padding: 10px;
        color: rgb(255, 255, 255);
        font-weight: 100;
    }
}
